body{
  background-color: bisque;
  height: 100vh;
}
.container{
  display: flex;
  justify-content: space-around;
}
.teams{
  min-width: 170px;
  min-height: 240px;
  background-color: aqua;
  border-radius: 16px;
}
.btn-container{
  display: flex;
  justify-content: space-around;
}
.score{
  text-align: center;
  font-size: 30px;
}
.team-name{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 23px;
}
.btn{
  height: 27px;
  width: 45px;
  border: none;
  border-radius: 8px;

  font-weight: bold;
}
.heading{
  text-align: center;
}